.ti1 {
background:blue;
}
.ti2 {
background: cornflowerblue;
text-align: center;
}
.ti3{
background: aqua;
}
.ti4{
background: yellow
}
.ti5{
background:fuchsia
}
.ti6{
background: purple
}
.ti7{
background: green
}
.ti8{
background: red
}
.ti9{
background: GoldenRod
}
